<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="model">
                    <form id="log">
                        <h1>LOG<span style="color: #03a9f4;">I</span>N</h1>
                        <span id="span"></span>
                        <div class="form-group">
                            <label><i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;Email</i></label>
                             <input type="email" class="form-control" placeholder="Email" id="inp" required>
                        </div>
                        <div class="form-group">
                            <label><i class="fa fa-lock" aria-hidden="true">&nbsp;&nbsp;Password</i>
                                </label>
                             <input type="password" class="form-control" placeholder="password" id="inp" required>  
                        </div >
                                 
                        <div class="checkbox">
                            <label><input type="checkbox" value="Remember">&nbsp;&nbsp;Remember me</label>
    
                        </div>
                        <div class="btnn">
                            <button type="submit" class="btnnn">Login</button>
                        </div>
                    </form>
                </div>
                

 <!--<body >
        <div class="container-fluid" id="card">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <form id="log">
                        <h1>LOG<span style="color: #03a9f4;">I</span>N</h1>
                        <span id="span"></span>
                        <div class="form-group">
                            <label><i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;Email</i></label>
                             
                        </div>
                        <div class="form-group">
                            <label><i class="fa fa-lock" aria-hidden="true">&nbsp;&nbsp;Password</i>
                                </label>
                             
                        </div >
                                 
                        <div class="checkbox">
                            <label><input type="checkbox" value="Remember">&nbsp;&nbsp;Remember me</label>
    
                        </div>
                        <div class="btnn">
                            <button type="submit" class="btnnn">Login</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
            </div>
        
    </div>
    
</body>               -->