
body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(90deg, #03a9f4,#240ea5,#685f15,#be3826);
}
.model{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #03a9f4,#240ea5,#685f15,#be3826);
  display: block;
    
}
#particles-js{
    
    width: 100%;
    height: 100%;
}
#card{
    margin-top: -48%;
}
#log{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #2196F3;
    padding: 60px 40px;
    margin-top: 30px;
    background: #100e17;
    opacity: .8;
    border-radius: 10px;
    box-shadow: 0 0 10px #f0f3f7;
}

#log:hover{
    box-shadow: 0 0 10px #f0f3f7,0 0 40px #f0f3f7;
}
/*#log{
    border: 2px solid #2196F3;
    padding: 60px 40px;
    margin-top: 80px;
    background: linear-gradient(230deg, #f4f6f7,#c2bcbf,#272726,#0a0a0a);
    opacity: .8;
    border-radius: 10px;
    box-shadow: 0 0 10px #f0f3f7
}
#log:hover{
    animation: animate 7s linear infinite;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196F3;
    transition-delay: .3s;
}
@keyframes animate
{
    0%{
        background-position: 0%;

    }
    100%{
        background-position: 400%;
    }
}
*/
div button{
    margin-top: 10px;
    margin-left: 15%;
    font-size: 20px;
    width: 250px;
    height: 40px;
    border-radius: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    border: none;
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    
    

}
div button:hover{
    animation: animate 7s linear infinite;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196F3;
    transition-delay: .3s;
}
@keyframes animate
{
    0%{
        background-position: 0%;

    }
    100%{
        background-position: 400%;
    }
}
form div{
    margin-top: 10px;
}
form #span{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    width: 341px;
    height: 2px;
    display:block;
    margin-bottom: 30px;

}

form span:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
#log h1{
    margin-top: -25px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 5px;
}
div label,i{
    color: rgb(245, 245, 245);
    margin-bottom: 5px;
}
#inp{
    background-color:#bac7c9 ;
    
    border: none;
    border-radius: 20px;
    border-bottom: 0.1px solid #03a9f4 ;
    transition-delay: .4s;
    color: black;
}
#inp:hover{
    border:1px solid #03a9f4;
    background: transparent;
    color: white;
}