*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(120deg, #f1f1f1,rgb(39, 196, 170),rgb(26, 224, 108));
}
body .first img{
  position: fixed;
  height: 25vh;
  top: 0;  
  margin-left: 320px;
  margin-top: 10px;
  transition: 1.5s;
  
}
body .first img:hover{
  transition-delay: 1s;
  height: 30vh;
  top: 0;  
  margin-left: 10px;
  margin-top: 5px;
}
body .fourth img{
  position: fixed;
 bottom: 0;
 height: 20vh;
 left: 6%;
}
.log .fifth img{
  
 bottom: 68%;
 position: absolute;
 height: 20vh;
 left: -10%;
 
}

body .second img{
  position: fixed;
  height: 80vh;
  margin-left: 20%;
  bottom: 0;
  
  
  
}
body .third img{
  position: fixed;
  height: 86vh;
  bottom: -2%;
  left: -12%;
  z-index: -0.5;
  transition: 1s;
}
body .third img:hover{
  transition-delay: .5s;
  
  height: 90vh;
  bottom: 0;
  
}
#card{
  position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 450px;
    background: #f5f5f7;
    height: 605px;
    padding: 10px 10px;
    box-shadow:0 0 20px rgb(20, 22, 27);
    text-align: center;
    border-radius: 70px 0 25px 0;
    transition: .5s;
    opacity: 1;
    
}
#card:hover{
  width: 453px;
  height: 608px;
}
#card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
    width: 0;
    height: 0;
    border-top: 3px solid #336ff1;
    border-left: 3px solid #336ff1;
    transition: 2.5s;
    transition-delay: 0.5s;
    
}
#card:after{
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 100px;
    margin-top: 10px;
    
    width: 0;
    height: 0;
    border-bottom: 3px solid #ec6313;
    border-right: 3px solid #ec6313;
    transition: 2.5s;
    transition-delay: 0.5s;
}
#card:hover::before{
    width: 100%;
    height: 100%;
    border-radius: 70px 0 25px 0;
    transition-delay: 0s;
}
#card:hover::after{
    width: 100%;
    height: 100%;
    border-radius: 70px 0 25px 0;
    transition-delay: 0s;
}

form h1{
  position: relative;
    font-size: 50px;
    text-align: center;
    color: #01030e;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 7px rgb(223, 17, 69);
    letter-spacing: 2px;
    padding: 6.5px 5px;
    width: 200px;
    height: 70px;
    margin-left: 118px;
    
    
    
    transition: .5s;
    overflow: hidden;
    /*
    background-color: #e72385;
    position: relative;
    padding: 15px 30px;
    margin: 0 20px;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    transition: .5s;
    overflow: hidden;
    */

}

form h1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
    width: 20px;
    height: 20px;
    border-top: 2px solid #f37d0e;
    border-left: 2px solid #f37d0e;
    transition: 0.5s;
    transition-delay: 0.5s;
    
    
}
form h1:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 100px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid rgb(39, 42, 231);
    border-right: 2px solid rgb(24, 53, 218);
    transition: 0.5s;
    transition-delay: 0.5s;
}
form h1:hover::before{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transition-delay: 0s;
}
form h1:hover::after{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transition-delay: 0s;
}

form #span{
    background: linear-gradient(90deg, #f18509,#220361,#0cf3f3,#eb1515);
    width: 430px;
    height: 2px;
    display:block;
    margin-top: 13px;

}
.log .profil img{
  height: 16vh;
  margin-top: -16px;
  
}
.log .profil img:hover{
  height: 17vh;
  margin-top: -22px;
}
.log .input{
    outline: 0;
    background: none;
    font-size: 15px;
    color: rgb(15, 5, 5);
    text-align: center;
    width: 240px;
    margin-bottom: 30px;
    padding: 15px;
    font-weight: bold;
    margin-top: 6px;
    border: 2.5px solid rgb(26, 224, 108);
    box-sizing: border-box;
    border-radius: 15px;
    transition: 0.5s;
    
    transition-property: width;
}
/*
.tx #pwd{
  margin-top: 10px;
}
*/
.log .input:hover{
  border: 2.5px solid #336ff1;
    width: 320px;
}
.log .input:focus{
  border: 2.5px solid #336ff1;
    width: 320px;
}
.log input::placeholder{
  color: #1194a5;
  font-style:inherit;
  letter-spacing: 1.2px;
}
div label{
    color: rgb(10, 1, 1);
    margin-left: -58%;
    font-size: 20px;
    margin-top: 30px;
    
}
div label:hover{
  color: rgb(26, 224, 108);
}

.tx .elabel{
  margin-left: -68%;
}
.tx #lpwd{
  margin-top: 1px;
  
}
.tx i{
  color: rgb(26, 224, 108);
  font-size: 22px;
  text-shadow: 0 0 50px #091329;
}
.checkbox .check{
  margin-left: -230px;
  font-size: 16px;
  margin-top: -10%;
  color: #2815d4;
}
.checkbox .check:hover{
  color: #45eb13;
}
.btn{
  margin-top: 10px;
}
.btn button{
    outline: 0;
    background-image: linear-gradient(to right,#03a9f4,#a39a9f,#20f3a2);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 200px;
    padding: 10px;
    border: 1px solid #03a9f4;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
    box-shadow: 0 0 10px #091329;
    background-size: 200%;
    transition-property: backgroung,transform,width;
}

.btn button:active, .btn button:focus{
    background:rgb(26, 224, 108);
    transform: scale(1.1);
    width: 210px;
    
    border-color:2.5px solid #df8c11;
}


.btn button:hover{

  background: linear-gradient(230deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  
  
  background-position: right;
  width: 240px;
  box-shadow: 0 0 10px #2196f3;
  animation: animate 7s linear infinite;
  /*ackground-position: right;*/
  transition-delay: .2s;
  
}
@keyframes animate
{
    0%{
        background-position: 0%;

    }
    100%{
        background-position: 400%;
    }
}
