*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    background-image: linear-gradient(120deg, #1b9e21,#e938ae,#9642bd);
}
#card{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #001628;
    height: 580px;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    transition: .5s;
    
}

#card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #fff200;
    transition: 2.5s;
    transition-delay: 0.5s;
    
}
#card:after{
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #f9ca24;
    transition: 2.5s;
    transition-delay: 0.5s;
}
#card:hover::before{
    width: 100%;
    height: 100%;
    transition-delay: .5s;
}
#card:hover::after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

form h1{
  position: relative;
    font-size: 50px;
    text-align: center;
    color: #f5f6fa;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 7px rgb(223, 17, 69);
    letter-spacing: 2px;
    padding: 6.5px 5px;
    width: 200px;
    height: 70px;
    margin-left: 95px;
    
    
    
    transition: .5s;
    overflow: hidden;
    /*
    background-color: #e72385;
    position: relative;
    padding: 15px 30px;
    margin: 0 20px;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    transition: .5s;
    overflow: hidden;
    */

}

form h1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
    width: 35px;
    height: 20px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.5s;
    
}
form h1:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 100px;
    margin-top: 10px;
    width: 35px;
    height: 20px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.5s;
}
form h1:hover::before{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}
form h1:hover::after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

form #span{
    background: linear-gradient(90deg, #ade612,#f441a5,#ffeb3b,#03a9f4);
    width: 380px;
    height: 2px;
    display:block;
    margin-top: 13px;

}
.log .input{
    outline: 0;
    background: none;
    font-size: 15px;
    color: #fff;
    text-align: center;
    width: 240px;
    margin-bottom: 30px;
    padding: 15px;
    font-weight: bold;
    margin-top: 6px;
    border: 2.5px solid #2e86de;
    box-sizing: border-box;
    border-radius: 25px;
    transition: 0.5s;
    transition-property: width;
}
/*
.tx #pwd{
  margin-top: 10px;
}
*/
.log .input:hover{
    width: 320px;
}
.log .input:focus{
    width: 320px;
}
.log input::placeholder{
  color: #f5f6fa;
  font-style:inherit;
  letter-spacing: 1.2px;
}
div label{
    color: rgb(245, 245, 245);
    margin-left: -58%;
    font-size: 20px;
    margin-top: 30px;
    
}
.tx .elabel{
  margin-left: -68%;
}
.tx #lpwd{
  margin-top: 1px;
  
}
.tx i{
  color: #29f1f1;
  font-size: 22px;
  text-shadow: 0 0 50px #fff;
}
.checkbox .check{
  margin-left: -195px;
  font-size: 16px;
  margin-top: -10%;
}
.btn{
  margin-top: 10px;
}
.btn button{
    outline: 0;
    background:none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 165px;
    padding: 10px;
    border: 2.5px solid #03a9f4;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
    
    transition-property: backgroung,transform,width;
}

.btn button:active, .btn button:focus{
    background: #03a9f4;
    transform: scale(1.1);
    width: 200px;
}
.log .input:hover{
    width: 320px;
}
.log .input:focus{
    width: 320px;
}

.btn button:hover{
  background: linear-gradient(230deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  width: 200px;
  box-shadow: 0 0 10px #2196f3;
  /*ackground-position: right;*/
  transition-delay: .2s;
  animation: animate 7s linear infinite;
}
@keyframes animate
{
    0%{
        background-position: 0%;

    }
    100%{
        background-position: 400%;
    }
}