<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<body>
  <span class="first"><img src="assets/aircraft.svg"></span>
  <span class="second"><img src="assets/group-chat.svg"></span>
  <span class="third"><img src="assets/chat.svg"></span>
    <div class="container-fluid" id="card">
                <div class="row" > 
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <form class="log">
                        <h1 id="h1">LOG<span style="color: #03a9f4;">I</span>N</h1>
                        <span id="span"></span>
                          <div class="txtb">
                            <div class="tx">
                                <label class="elabel"><i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;</i>Email</label><br>
                                <input class="input" type="Email" name="" value="" placeholder="Email" required>
                            </div>
                            <div class="tx">
                                <label id="lpwd" ><i class="fa fa-lock" aria-hidden="true">&nbsp;&nbsp;</i>Password
                                </label><br>
                                <input class="input" id="pwd" type="password" name="" value="" placeholder="Password" required>
                            </div>
                            <div class="checkbox">
                                <label class="check"><input type="checkbox" value="Remember">&nbsp;&nbsp;Remember me</label>
                            </div>
                            <div class="btn">
                                 <button type="submit" name="button">Login</button>
                           </div>
                          </div>
                      </form>
                    </div>
                </div>
    </div>
</body>