<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<body>
  <span><img src="assets/bg-mob.svg"></span>
    <div class="container-fluid" id="card">
                <div class="row" > 
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <form class="log">
                        <h1 id="h1">LOG<span style="color: #03a9f4;">I</span>N</h1>
                      </form>
                    </div>
                </div>
    </div>
</body>